USE [master]
GO
/****** Object:  Database [HMS]    Script Date: 4/9/2026 5:51:29 PM ******/
CREATE DATABASE [HMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HMS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMS]
GO
/****** Object:  Table [dbo].[Admissions]    Script Date: 4/9/2026 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admissions](
	[admission_id] [int] NOT NULL,
	[patient_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[admit_date] [date] NOT NULL,
	[discharge_date] [date] NULL,
	[reason] [nvarchar](50) NOT NULL,
	[diagnosis] [nvarchar](50) NOT NULL,
	[treatment_plan] [nvarchar](50) NOT NULL,
	[ward_type] [nvarchar](50) NOT NULL,
	[bed_id] [int] NOT NULL,
	[admission_priority] [nvarchar](50) NOT NULL,
	[insurance_approval_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admissions] PRIMARY KEY CLUSTERED 
(
	[admission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beds]    Script Date: 4/9/2026 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beds](
	[bed_id] [int] NOT NULL,
	[ward_type] [nvarchar](50) NOT NULL,
	[room_no] [nvarchar](50) NOT NULL,
	[floor] [int] NOT NULL,
	[daily_charge] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[room_type] [nvarchar](50) NOT NULL,
	[nursing_charge] [int] NOT NULL,
	[amenities] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Beds] PRIMARY KEY CLUSTERED 
(
	[bed_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 4/9/2026 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[bill_id] [int] NOT NULL,
	[patient_id] [int] NOT NULL,
	[admission_id] [int] NOT NULL,
	[consultation_fee] [int] NOT NULL,
	[bed_charges] [int] NOT NULL,
	[surgery_charges] [int] NOT NULL,
	[pharmacy_charges] [int] NOT NULL,
	[miscellaneous] [int] NOT NULL,
	[insurance_claim] [int] NOT NULL,
	[out_of_pocket] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[payment_date] [date] NULL,
	[payment_mode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 4/9/2026 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[doctor_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[specialization] [nvarchar](50) NOT NULL,
	[department] [nvarchar](50) NOT NULL,
	[years_of_experience] [int] NOT NULL,
	[phone] [bigint] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[shift] [nvarchar](50) NOT NULL,
	[consultation_fee] [int] NOT NULL,
	[license_no] [nvarchar](50) NOT NULL,
	[hospital_branch] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 4/9/2026 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[patient_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[blood_group] [nvarchar](50) NOT NULL,
	[phone] [bigint] NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[insurance_provider] [nvarchar](50) NOT NULL,
	[insurance_policy_no] [nvarchar](50) NOT NULL,
	[emergency_contact_name] [nvarchar](50) NOT NULL,
	[emergency_contact_phone] [bigint] NOT NULL,
	[marital_status] [nvarchar](50) NOT NULL,
	[aadhar_no] [nvarchar](50) NOT NULL,
	[occupation] [nvarchar](50) NOT NULL,
	[lifestyle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Surgeries]    Script Date: 4/9/2026 5:51:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Surgeries](
	[surgery_id] [int] NOT NULL,
	[patient_id] [int] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[surgery_date] [date] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[anesthesia_type] [nvarchar](50) NOT NULL,
	[estimated_duration] [int] NOT NULL,
	[actual_duration] [int] NOT NULL,
	[operating_room] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[outcome] [nvarchar](50) NULL,
	[assistant_doctor_id] [int] NOT NULL,
 CONSTRAINT [PK_Surgeries] PRIMARY KEY CLUSTERED 
(
	[surgery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
